*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.outer-cover{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-style{
    position: relative;
    background:linear-gradient(rgb(154, 238, 84),rgb(72, 236, 72) ,rgb(238, 238, 61)) ;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
    transition: all 0.7 ease;
}
.background-style:hover{
    transform: skew(-25deg) rotateY(-15deg) rotateZ(-3deg);
    
}
.reflect-move{
    background-color: silver;
    transition: all 0.7 ease;
}

h1{
    font-size: 35px;
    font-family: sans-serif;
    padding: 16px;
    color: white;

}
.shine{
    position: absolute;
    height: 70px;
    width:10px;
    background-color:  rgb(255, 253, 253);
    transform: translateX(600px);
    transition: all 1s ease;
    filter: blur(8px);
    -webkit-filter: blur(10px);
    
}
.shine2{
    position: absolute;
    height: 70px;
    width:15px;
    background-color:  rgb(250, 250, 250) ;
    transform: translateX(-600px);
    transition: all 1s ease;
}
@media (min-width:320px) and (max-width:375px) {
    
h1{
    font-size: 15px;
}
.shine{
    transform: translateX(270px);
    
}
}
@media (min-width:376px) and (max-width:425px) {
    
    h1{
        font-size: 20px;
    }
    .shine{
        transform: translateX(360px);
        
    }
    }
 @media (min-width:426px) and (max-width:768px) {
    
        h1{
            font-size: 25px;
        }
        .shine{
            transform: translateX(440px);
            
        }
        }
 @media (min-width:769px) and (max-width:1024px) {
    
            h1{
                font-size: 35px;
            }
            }
